.ui.inverted.menu {
    border: 0px solid transparent;
    background: rgb(90, 0, 0);
    box-shadow: none;
}
.ui.menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 1rem 0em;
    font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    background: #ffffff;
    font-weight: normal;
    border: 1px solid rgba(34, 36, 38, 0.15);
    box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15);
    border-radius:0px; 
    min-height: 2.85714286em;
}