<template name="navbar">
  <div class="ui inverted menu">
    {{#if currentUser}}
    <a class="item leftsidemenu" data-transition="overlay"><i class="sidebar icon"></i></a>
    {{/if}}
    <div class="header item">Shopie</div>
    <div class="right menu">
      {{#if currentUser}}
        <a class="item"><i class="user icon"></i>{{items}}</a>
        <a class="item" id="logout" >Sign out</a>
        <a class="item rightsidemenu" data-transition="overlay"><i class="sidebar icon"></i></a>
        {{else}}
        <a class="item" href='/login'>Sign in</a>
        <a class="item" href='/register'>Sign up</a>
      {{/if}}
   </div>
  </div>
</template>