<template name = "register">
	<div class="ui divided  middle aligned center aligned grid">
      
    <div class="four wide column">
        <!-- <login> -->
        <div class="column centered">
          <h2 class="ui teal image header">
           <!--  <img src="assets/images/logo.png" class="image"> -->
            <div class="content">
              Register your account
            </div>
          </h2>
          <form class="ui large form">
            <div class="ui stacked segment">
              <div class="field">
                <div class="ui left icon input">
                  <i class="user icon"></i>
                  <input type="text" name="name" placeholder="Name">
                </div>
              </div>
              <div class="field">
                <div class="ui left icon input">
                  <i class="user icon"></i>
                  <input type="text" name="email" placeholder="E-mail address">
                </div>
              </div>
              <div class="field">
                <div class="ui left icon input">
                  <i class="lock icon"></i>
                  <input type="password" name="password" placeholder="Password">
                </div>
              </div>
              <div class="field">
                <div class="ui left icon input">
                  <i class="lock icon"></i>
                  <div class="ui selection dropdown" tabindex="0" id="dropdown">
                    <input type="hidden" name="dropdown">
                    <i class="dropdown icon"></i>
                    <div class="default text">Type</div>
                    <div class="menu" tabindex="-1">
                      <div class="item" data-value="Customer">Customer</div>
                      <div class="item" data-value="Shopkeeper">Shopkeeper</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="ui fluid large teal submit button" id="register">Register</div>
            </div>

            <div class="ui error message"></div>
         </form>
        </div>
    </div>  
  </div>
  <script type="text/javascript">
 
  </script>
</template>