.ui.map.column.grid{
	height:660px;
}
#maincenter{
	position: absolute;
    top: 43.5%;
    left: 44.5%;
}
#centerdiv{
	
    color: aliceblue;
    width: 150px;
    height: 30px;
    border: 2px solid #E6BEBE;
    border-radius: 15px;
    background-color: rgba(90, 0, 0, 0.79);
}
#centerdiv p{
	text-align: center;
	margin-top: 2.5px;
	margin-left: 5px;
}
.marker.icon{
	margin-left: 15px;
	}
#redpin{
	position:absolute;
	top: 40%;
margin-left: 50px;
}	
#centerbutton a{
	position:absolute;
	color:black;
	top:90%;
	left: 1%;
  bottom: -10px;
  width: 50px;
  border-radius: 50%;
  height: 50px;
  background: white;
  color: grey;
  border: 1px solid grey;
}
/*.circle.thin.icon{
	margin-left: 15px;
	margin-top: 15px;
}*/
#centerbutton i{
	margin-top: 10px;
	margin-left: 8px;

}