<template name="map">
	<div id="googleMap" class="ui map column grid"></div>
	<div id="maincenter">
		<div id="centerdiv">
			<p>Check in here<i class="marker icon"></i></p>
		</div>
		<div id="redpin"><img src="http://telematch.nl/wp-content/uploads/2014/10/marker.png" width="50px"></div>
	</div>
  <div id="centerbutton"><a href="#"><i class="crosshairs icon big"></i></a></div>
</template>