<template name="shopleft_slider">
	<a class="item" href="/shopkeeper_layout">
    <i class="home icon"></i>
    Home
  </a>
  <a class="item">
    <i class="user icon"></i>
    Profile
  </a>
  <a class="item" href="/shopkeeper_layout/shopadd_item">
    <i class=" shop icon"></i>
    Add Items
  </a>
   <a class="item" href="/shopkeeper_layout/product_gallery">
    <i class="home icon"></i>
    Products gallery
  </a>
  <a class="item">
    <i class="payment icon"></i>
    Payment Details
  </a>
</template>