<template name="addshop">
	<div class="ui two column centered grid">
    <div class="column">
    	<form class="ui form segment">
        <p>Tell Us About Shop</p>
        <div class="two fields">
          <div class="field">
            <label>Shop Name</label>
            <input placeholder="Shop name" name="name" type="text" id="shopname">
          </div>
          <div class="field">
  	        <label>Shop Type</label>
  	        <select class="ui dropdown" id="shoptype">
                <option value="">Type</option>
                <option value="food">food</option>
                <option value="electronics">electronics</option>
            </select>
          </div>
        </div>
        <div class="two fields">
          <div class="field">
            <label>Shop Owner Name</label>
            <input placeholder="Name" name="owner" type="text" id="shopowner">
          </div>
        </div>
        <div class="inline field">
          <div class="ui checkbox" id="checkshop">
            <input type="checkbox" name="terms" tabindex="0" class="hidden">
            <label>I agree to the terms and conditions</label>
          </div>
        </div>
        <div class="ui blue submit button" id="addshop">Submit</div>
        <div class="ui error message"></div>
      </form>
    </div>
  </div>
</template>