<template name="right_slider">
	<a class="item">
    <i class="home icon"></i>
    Home
  </a>
  <a class="item">
    <i class="user icon"></i>
    Profile
  </a>
  <a class="item">
    <i class="in cart icon"></i>
    Cart
  </a>
  <a class="item">
    <i class="smile icon"></i>
    Payment Details
  </a>
</template>