<template name="product_detail">
	<div class="ui segment">	
		<div class="ui two column stackable grid container">
		  <div class="column">
		    <div class="ui segment"><img class="ui small left  image" src="http://semantic-ui.com/images/wireframe/text-image.png"></div>
		  </div>
		  <div class="column">
		    <div class="ui segment">
		    	<div class="ui form">
						<div class="field">
			        <label>Product Name</label>
			        <input type="text">
			      </div>
			    </div> 
		    </div>
		  </div>
		</div>
	</div>	
</template>