<template name="shopadd_item">
		<div class="ui segment ">
    	<h2 class="ui center aligned icon header">
	      Add Items
	    </h2>
	    <div class="ui divider"></div>
    	<div class="ui form">
		      <div class="field">
		        <label>Product Name</label>
		        <input type="text">
		      </div>
		      <div class="field">
		        <label>Product Type</label>
		        <div class="ui selection dropdown" tabindex="0" id="dropdown">
			        <input type="hidden" name="gender">
			        <i class="dropdown icon"></i>
			        <div class="default text">Type</div>
			        <div class="menu" tabindex="-1">
			          <div class="item" data-value="1">food</div>
			          <div class="item" data-value="0">electronics</div>
			        </div>
			      </div>
		      </div>
		      <div class="field">
		        <label>Product Price</label>
		        <input type="number">
		      </div>
		      <div class="field">
		        <label>Product Image</label>
		        <input type="text">
		      </div>
		    </div>
		    <div class="ui divider"></div>
		    <button class="ui button">ADD</button>	
      </div>
</template>