<template name="shopkeeper_layout">
	<!-- left sidebar -->
	<div class="ui left sidebar inverted vertical menu">
		{{> yield region="left_slider"}}	  
  </div>
  <!-- right sidebar -->
	<div class="ui right sidebar inverted vertical menu">
		{{> yield region="right_slider"}}	  
  </div>
  <!-- main body -->
  <div class="pusher"> 
		<div class="ui three column centered grid">
	    <div class="four wide column">
	    </div>
	    <div class="eight wide column">
	    	<!-- product gallery -->
	     {{> yield region="product_gallery"}}
	    </div>
	    <div class="four wide column">
	    		<!-- add items -->
	    	{{> yield region="add_item"}}
	    </div>
  	</div>	    	
  </div>
</template>