<template name="user_layout">
	<!-- left sidebar -->
	<div class="ui left sidebar inverted vertical menu ">
		{{> yield region="left_slider"}}	  
  </div>
  <!-- right sidebar -->
	<div class="ui right sidebar inverted vertical menu ">
		{{> yield region="right_slider"}}	  
  </div>
  <!-- main body -->
  
  <div class="pusher "> 
		{{> yield region="center_body"}}	    	
  </div>
</template> 