<template name="product_gallery">
	<div class="ui segment">	
  	<h2 class="ui center aligned icon header">
      Products	
    </h2>
  	<div class="ui three column doubling grid">
		  <div class="column">
		    <div class="ui segment">
		    	<img class="ui middle aligned image" src="http://semantic-ui.com/images/wireframe/square-image.png">
		    	<div class="ui divider"></div>
		    	<h3 class="ui header">Product name</h3>
		    </div>
		  </div>
		  <div class="column">
		    <div class="ui segment">
		    	<img class="ui middle aligned image" src="http://semantic-ui.com/images/wireframe/square-image.png">
		    	<div class="ui divider"></div>
		    	<h3 class="ui header">Product name</h3>
		    </div>
		  </div>
		  <div class="column">
		    <div class="ui segment">
		    	<img class="ui middle aligned image" src="http://semantic-ui.com/images/wireframe/square-image.png">
		    	<div class="ui divider"></div>
		    	<h3 class="ui header">Product name</h3>
		    </div>
		  </div>
		</div>
  </div>
</template>